@font-face {
  font-family: 'Monaspace Argon NF';
  src: local('Monaspace Argon NF'), 
       url('asset/fonts/MonaspaceArgonNF-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

code, pre {
  font-family: 'Monaspace Neon NF', monospace;
}

body {
  background-color: black;
  padding-left: 5%; 
  padding-right: 5%;
}

.header-image {
    background-image: url('asset/img/header.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    image-rendering: pixelated;
    width: 100%;
    height: 300px;
}

h1, h2, h3, h4, a, p {
    font-family: 'Monaspace Neon NF', monospace;
    color: pink;
}

.entry-table, th, td {

    font-family: 'Monaspace Neon NF', monospace;
    border-collapse: collapse;
    color: pink;

}


th, td{

    padding: 10px;
    border-bottom: 1px solid pink;

}

#container {

  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "navbar  navbar"
    "sidebar content";
  min-height: 100vh;

}

#container div.navbar  { grid-area: navbar; }
#container div.sidebar { grid-area: sidebar; }
#container div.content { grid-area: content; }

footer{
  text-align: center;
}