@font-face {
  font-family: 'Monaspace Argon NF';
  src: local('Monaspace Argon NF'), 
       url('asset/fonts/MonaspaceArgonNF-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

code, pre {
  font-family: 'Monaspace Neon NF', monospace;
}

border {
  background-color: pink;
}

body {
  background-color: black;
  padding-left: 5%; 
  padding-right: 5%;
}

#gaybar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

#gaybar ul li {
  float: left;
}

#gaybar ul li a {
  display: block;
  color: pink;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#gaybar ul li a:hover {
  background-color: hotpink;
  color: black;
}

.header-image {
    background-image: url('asset/img/header.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    image-rendering: pixelated;
    width: 100%;
    height: 300px;
}

h1, h2, h3, h4, a, p {
    font-family: 'Monaspace Neon NF', monospace;
    color: pink;
}

.entry-table, th, td {

    font-family: 'Monaspace Neon NF', monospace;
    border-collapse: collapse;
    color: pink;

}


th, td{

    padding: 10px;
    border-bottom: 1px solid pink;

}

#container {

  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "sidebar content";
  min-height: 100vh;

}

#sidebar { grid-area: sidebar; }
#content { grid-area: content; }

footer{
  text-align: center;
}